In [1]:
# import sqlite3 package
import sqlite3

In [2]:
# Create a database if not exists and connect to it
connection = sqlite3.connect("classroom.db")

#### Create Table in DB

In [3]:
# Open connection
conn = sqlite3.connect("classroom.db")
# Open cursor
cursor = conn.cursor()
# Query for creating table
create_table_query = """
CREATE TABLE classroom (
    student_id INTEGER PRIMARY KEY,
    name VARCHAR(20),
    gender CHAR(1),
    physics_grade INTEGER,
    chemistry_grade INTEGER,
    mathematics_grade INTEGER
)
"""
# Execute query
cursor.execute(create_table_query)
# Commit changes
conn.commit()
# Close connection
conn.close()

#### Insert Sample Data

In [4]:
# Sample data
class_data = [(1, "Jake", "M", 70, 84, 92),
              (2, "Viraj", "M", 87, 98, 92),
              (3, "Lucy", "F", 97, 89, 94),
              (4, "Mira", "F", 75, 86, 89)]
# Open connection
conn = sqlite3.connect("classroom.db")
# Open cursor
cursor = conn.cursor()
# Insert each student record
for student in class_data:
    # Query
    insert_query = """
        INSERT INTO classroom
        (student_id, name, gender, physics_grade, chemistry_grade, mathematics_grade)
        VALUES
        ({0}, "{1}", "{2}", {3}, {4}, {5});
    """.format(student[0], student[1], student[2], student[3], student[4], student[5])
    # Execute
    cursor.execute(insert_query)

# Commit changes and close connection
conn.commit()
conn.close()

#### Extract Data

In [7]:
# Open connection, cursor
conn = sqlite3.connect("classroom.db")
cursor = conn.cursor()

# Query and execute
get_query = "SELECT * FROM classroom"
cursor.execute(get_query)

# Fetch and print results
result = cursor.fetchall()
for row in result:
    print(row)

# Close connection
conn.close()

(1, 'Jake', 'M', 70, 84, 92)
(2, 'Viraj', 'M', 87, 98, 92)
(3, 'Lucy', 'F', 97, 89, 94)
(4, 'Mira', 'F', 75, 86, 89)